<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>ISDB</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><b>ISDB</b></a>
        <div class="w3-right">
            <a href="#tv_shows" class="w3-bar-item w3-button">TV Shows</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;" id="home">
  <img class="w3-image" src="https://i.imgur.com/rjwjpVR.jpg" alt="Architecture" width="1000" height="533">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"></span> <span class="w3-hide-small w3-text-light-grey">ISDB</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <!-- TV Shows Section -->
    <div class="w3-container w3-padding-32" id="tv_shows">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">TV Shows</h3>
    </div>

    <div class="w3-row-padding">
        {% for tv_show in tv_shows %}
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding"><a href="tv_show_data?id_tv_show={{ tv_show.id_tv_show }}">{{ tv_show.name }}</a></div>
                <img src="{{tv_show.poster}}" width="220" height="342">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="form_register_tv_show_data">Incluir TV Show</a>
</body>
</html>