<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chosen.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chosen.jquery.min.js') }}"></script>
    <title>{{cast_member.name}}</title>

    <style>
        .divtop
        {
            height: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
{% extends base.html %}
{% block content %}
<h3>{{cast_member.name}} - Episodes:</h3>
{% for episode in episodes %}
<p>{{episode.name}}</p>
{% endfor %}
{% for t in tv_shows %}
<div class="divtop">
    <label>{{ t.name }}</label>
    <form action="/register_tv_show_cast_episode">
        <select multiple data-placeholder="Episódio" style="width:500px;" class="chosen-select" name="id_episode">
            {% for key, value in season_dictionary.items() %}
                {% if key == t.name %}
                    {% for season in value %}
                        <optgroup label="{{season}}ª Temporada ">
                            {% for key, value in tv_show_dictionary.items() %}
                                {% if key == t.name %}
                                    {% for episode in value %}
                                        {% if season == episode.season %}
                                            {% if episode.name not in episodes_names %}
                                                <option value="{{episode.id_episode}}">{{episode.name}}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
        <input type="hidden" name="id_tv_show" value="{{t.id_tv_show}}">
        <input type="hidden" name="id_cast_member" value="{{cast_member.id_cast}}">
        <input type="hidden" name="cast_member_name" value="{{cast_member.name}}">
        <input type="submit" id="vai" value="Vai">
    </form>
</div>
{% endfor %}
<script>
    $(".chosen-select").chosen({
      include_group_label_in_selected: true
    });
</script>

{% endblock %}
</body>
</html>