<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{tv_show.name}}</title>
</head>
<body>
{% extends "base.html" %}

{% block first_index %} <a href="#cast" class="w3-bar-item w3-button">Elenco</a> {% endblock first_index %}
{% block second_index %} <a href="#episodes" class="w3-bar-item w3-button">Episódios</a> {% endblock second_index %}

{% block content %}
<header class="w3-display-container w3-wide" style="max-width:1200px;">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white">
            <span class="w3-hide-small w3-text-grey" style="font-family: 'Sunflower', sans-serif;">{{tv_show.name}}</span>
        </h1>
    </div>
</header>

<!-- TV Show section -->
<div class="w3-container w3-padding-16">
    <h2 class="w3-border-bottom w3-padding-16"></h2>
</div>

<div class="w3-row-padding w3-padding-8">
    <div class="w3-quarter w3-container">
        <img src="{{tv_show.poster}}" width="250" height="389">
    </div>


    <div class="w3-quarter w3-container">
        <h4 style="font-family: 'Sunflower', sans-serif;">DESCRIÇÃO:</h4>
        <p>{{tv_show.description}}</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 style="font-family: 'Sunflower', sans-serif;">EXPLORE:</h4>
        <div>
            <ul>
                <li><i class="fa fa-link" aria-hidden="true"></i> <a href="/directors_data">Diretores</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i> <a href="/cast_members_data">Elenco</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i> <a href="/episodes_data">Episódios</a></li>
            </ul>
        </div>
    </div>

    <div class="w3-quarter w3-container">
                <h4 style="font-family: 'Sunflower', sans-serif;">GÊNERO:</h4>
        <p>{{tv_show.genre}}</p>

    </div>
</div>

<div class="w3-container w3-padding-32" id="cast">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Elenco</h3>
</div>

{% if directors != [] %}
<h3>DIRETORES:</h3>
{% for director in directors %}
<p>
    {{ director.id_director }} -
    {{ director.name }} -
    {{ director.date_of_birth }} -
    {{ director.place_of_birth }}
</p>
{% endfor %}
{% endif %}
{% if cast_members != [] %}
<p>
<h3>ELENCO:</h3>
<a href="cast_member_data?id_cast={{ cast_members[0].id_cast }} ">
    {% for cast_member in cast_members %}
    <p>
        {{ cast_member.id_cast }} -
        {{ cast_member.name }} -
        {{ cast_member.date_of_birth }} -
        {{ cast_member.place_of_birth }}
    </p>
    {% endfor %}
</a>
{% endif %}

<div class="w3-container w3-padding-32" id="episode">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Episódios</h3>
</div>

{% if episodes != [] %}
{% for episode in episodes %}
<p>
    {{ episode.id_episode }} -
    {{ episode.name }} -
    {{ episode.season }} -
    {{ episode.year }}
</p>
{% endfor %}
{% endif %}

{% endblock content %}
</body>
</html>